<div class="table-box">
    <div class="header">
        <b>لیست محصولات</b>
    </div>
    <div class="body">
        <table class="table">
            <tbody>
                <tr>
                    <th>عنوان محصول</th>
                    <th>تاریخ تولید محصول</th>
                    <th>وضعیت</th>
                </tr>
                <tr *ngFor="let product of products">
                    <td>
                        {{product.title}}
                    </td>
                    <td>
                        {{product.date}}
                    </td>
                    <td>
                        {{product.status | translatePipe}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>