<div class="table-box">
    <div class="header">
        <b>لیست محصولات</b>
    </div>
    <div class="body">
        <table class="rwd-table">
            <tbody>
                <tr>
                    <th>عنوان محصول</th>
                    <th>تاریخ تولید محصول</th>
                    <th>وضعیت</th>
                </tr>
                <tr>
                    <td data-th="Supplier Code">
                        UPS5005
                    </td>
                    <td data-th="Supplier Name">
                        UPS
                    </td>
                    <td data-th="Invoice Number">
                        فعال
                    </td>
                </tr>
                <tr>
                    <td data-th="Supplier Code">
                        UPS3449
                    </td>
                    <td data-th="Supplier Name">
                        UPS South Inc.
                    </td>
                    <td data-th="Invoice Number">
                        غیر فعال
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>