<div class="table-box">
    <div class="header">
        <b>لیست محصولات شرکت {{company_name}}</b>
    </div>
    <div class="body">

        <table *ngIf="products.length && !loading" class="table">
            <tbody>
                <tr>
                    <th>عنوان محصول</th>
                    <th>تاریخ تولید محصول</th>
                    <th>وضعیت</th>
                </tr>
                <tr *ngFor="let product of products">
                    <td>
                        {{product.title}}
                    </td>
                    <td>
                        {{product.date}}
                    </td>
                    <td>
                        {{product.status | translatePipe}}
                    </td>
                </tr>
            </tbody>
        </table>

        <span *ngIf="!products.length && !loading">محصولی وجود ندارد.</span>

        <app-loading *ngIf="loading"></app-loading>
    </div>

</div>