<form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <div class="header">
        <b>افزودن محصول شرکت {{company.name}}</b>
    </div>

    <div class="body">
        <div class="input-box-body">
            <label for="product-name">عنوان محصول</label>
            <input formControlName="title" type="text" id="product-name" placeholder="عنوان محصول...">
            <small *ngIf="productForm.controls['title'].invalid && (productForm.controls['title'].dirty || productForm.controls['title'].touched)">لطفا عنوان محصول را وارد کنید.</small>
        </div>
        <div class="input-box-body">
            <label for="date">تاریخ تولید</label>
            <input formControlName="date" mask="XXXX/XX/XX" [dropSpecialCharacters]="false" [showMaskTyped]="true" dir="ltr" id="date" placeholder="تاریخ تولید...">
            <small *ngIf="productForm.controls['date'].invalid && (productForm.controls['date'].dirty || productForm.controls['date'].touched)">لطفا تاریخ تولید را وارد کنید.</small>
        </div>
        <div class="radio-box-body">
            <div>
                <span>وضعیت</span>
            </div>
            <div class="radio-box">

                <label class="container">فعال
                        <input formControlName="status" value="active" type="radio">
                        <span class="checkmark"></span>
                    </label>
                <label class="container">غیرفعال
                        <input formControlName="status" value="deActive" type="radio">
                        <span class="checkmark"></span>
                </label>

            </div>
            <small style="position:relative;top:0.75em" *ngIf="productForm.controls['status'].invalid">لطفا وضعیت محصول را وارد کنید.</small>

        </div>
    </div>

    <div class="footer">
        <button type="submit" class="green-btn">افزودن محصول</button>
    </div>
</form>