form {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    margin-top: 1em;
    background: white;
    .header {
        border-bottom: 1px solid #eaeaea;
        padding: 1em 2em;
    }
    .body {
        display: flex;
        justify-content: space-between;
        padding: 2em;
        border-bottom: 1px solid #eaeaea;
        .input-box-body {
            flex-grow: 1;
            padding: 0 1em;
            display: flex;
            flex-direction: column;
        }
        .radio-box-body {
            flex-grow: 1;
            padding: 0 1em;
        }
    }
    .footer {
        text-align: left;
        padding: 1em 2em;
    }
}

.radio-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 1em;
}

small {
    color: red;
}