@import '../../../assets/styles/custom/custom.scss';
form {
    @extend .form;
    .header {
        @extend .form-header;
    }
    .body {
        @extend .form-body;
        .input-box-body {
            @extend .form-body-child-box;
        }
        .radio-box-body {
            flex-grow: 1;
            padding: 0 1em;
            .radio-box {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .footer {
        @extend .form-footer;
    }
}