<div class="form">
    <div class="header">
        <b>افزودن محصول شرکت ....</b>
    </div>
    <div>

        <form class="body">
            <div>
                <label for="product-name">عنوان محصول</label>
                <input type="text" id="product-name" placeholder="عنوان محصول...">
            </div>
            <div>
                <label for="date">تاریخ تولید</label>
                <input dir="ltr" type="number" id="date" placeholder="تاریخ تولید...">
            </div>
            <div>
                <div>
                    <span>وضعیت</span>
                </div>
                <div class="radio-box">
                    <label class="container">فعال
                                <input type="radio" checked="checked" name="radio">
                                <span class="checkmark"></span>
                    </label>
                    <label class="container">غیرفعال
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                    </label>
                </div>

            </div>
        </form>
    </div>
    <div class="footer">
        <button class="green-btn">افزودن محصول</button>
    </div>
</div>