<form [formGroup]="companyForm" (ngSubmit)="addCompany()">

    <div class="header">
        <b>افزودن شرکت</b>
    </div>

    <div class="body">
        <div>
            <label for="company-name">نام شرکت</label>
            <input type="text" id="company-name" placeholder="نام شرکت..." formControlName="name">
        </div>
        <div>
            <label for="phone">شماره تماس</label>
            <input dir="ltr" type="number" id="phone" placeholder="شماره تماس شرکت..." formControlName="phone">
        </div>
        <div>
            <label for="type">نوع</label>
            <select id="type" formControlName="type">
                    <option value="محصولات غذایی">محصولات غدایی</option>
                    <option value="لوازم خانگی">لوازم خانگی</option>
                    <option value="لوازم الکترونیکی">لوازم الکترونیکی</option>
                </select>
        </div>
    </div>

    <div class="footer">
        <button class="green-btn" type="submit">افزودن شرکت</button>
    </div>

</form>