<div class="form">
    <div class="header">
        <b>افزودن شرکت</b>
    </div>
    <div>

        <form class="body">
            <div>
                <label for="company-name">نام شرکت</label>
                <input type="text" id="company-name" placeholder="نام شرکت...">
            </div>
            <div>
                <label for="phone">شماره تماس</label>
                <input dir="ltr" type="number" id="phone" placeholder="شماره تماس شرکت...">
            </div>
            <div>
                <label for="type">نوع</label>
                <select id="type">
                    <option value="Food-products">محصولات غدایی</option>
                    <option value="Home-Appliances">لوازم خانگی</option>
                    <option value="Electronics">لوازم الکترونیکی</option>
                </select>
            </div>
        </form>
    </div>
    <div class="footer">
        <button class="green-btn">افزودن شرکت</button>
    </div>
</div>